@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width'>
    <title>Politika e Privatësisë</title>
    <style>
        body {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            padding: 1em;
        }
    </style>
</head>
<body>
    <strong>Politika e Privatësisë</strong>
    <p>
        KRU Bifurkacioni SH.A. ndërtoi aplikacionin mCommerce si një aplikacion Falas.
        KY SHËRBIM ofrohet nga KRU Bifurkacioni SH.A. pa pagesë dhe është i destinuar për përdorim siç është.
    </p>
    <p>
        Kjo faqe përdoret për të informuar vizitorët në lidhje me politikat tona për mbledhjen, përdorimin dhe shpërndarjen e informacionit personal nëse dikush vendos të përdorë shërbimin tonë.
    </p>
    <p>
        Nëse vendosni të përdorni shërbimin tonë, atëherë ju pranoni mbledhjen dhe përdorimin e informacionit në përputhje me këtë politikë. Informacioni personal që ne mbledhim përdoret për ofrimin dhe përmirësimin e shërbimit. Ne nuk do ta përdorim ose ndajmë informacionin tuaj me askënd përveç rasteve të përshkruara në këtë politikë privatësie.
    </p>
    <p>
        Termat e përdorur në këtë Politikë Privatësie kanë të njëjtin kuptim si në Termat dhe Kushtet tona, të cilat janë të aksesueshme në mCommerce përveç nëse përcaktohet ndryshe në këtë Politikë Privatësie.
    </p>

    <p><strong>Mbledhja dhe Përdorimi i Informacionit</strong></p>
    <p>
        Për një përvojë më të mirë gjatë përdorimit të shërbimit tonë, ne mund t'ju kërkojmë të na jepni disa informacione të identifikueshme personalisht. Informacioni që ne kërkojmë do të ruhet dhe do të përdoret sipas kësaj politike privatësie.
    </p>
    <div>
        <p>
            Aplikacioni përdor shërbime të palëve të treta që mund të mbledhin informacion për të identifikuar përdoruesin.
        </p>
        <p>
            Lidhje me politikat e privatësisë të ofruesve të palëve të treta të përdorura nga aplikacioni:
        </p>
        <ul>
            <li><a href="https://www.google.com/policies/privacy/" target="_blank" rel="noopener noreferrer">Google Play Services</a></li>
        </ul>
    </div>

    <p><strong>Të dhënat e regjistrit</strong></p>
    <p>
        Dëshirojmë t'ju informojmë se sa herë që përdorni shërbimin tonë, në rast të një gabimi në aplikacion, ne mbledhim të dhëna dhe informacione (nëpërmjet produkteve të palëve të treta) në telefonin tuaj të quajtura të dhëna regjistri. Këto të dhëna mund të përfshijnë adresën tuaj IP, emrin e pajisjes, versionin e sistemit operativ, konfigurimin e aplikacionit gjatë përdorimit të shërbimit, kohën dhe datën e përdorimit si dhe statistika të tjera.
    </p>

    <p><strong>Cookies</strong></p>
    <p>
        Cookies janë skedarë me një sasi të vogël të dhënash që përdoren zakonisht si identifikues unik anonim. Ato dërgohen në shfletuesin tuaj nga faqet që vizitoni dhe ruhen në memorien e brendshme të pajisjes suaj.
    </p>
    <p>
        Ky shërbim nuk përdor këto "cookies" në mënyrë eksplicite. Megjithatë, aplikacioni mund të përdorë kode dhe libra të palëve të treta që përdorin "cookies" për të mbledhur informacion dhe për të përmirësuar shërbimet e tyre. Ju keni mundësinë të pranoni ose refuzoni këto cookies dhe të dini kur një cookie është duke u dërguar. Nëse vendosni t’i refuzoni, ndonjë pjesë e shërbimit mund të mos funksionojë siç duhet.
    </p>

    <p><strong>Ofruesit e Shërbimeve</strong></p>
    <p>
        Ne mund të punësojmë kompani dhe individë të palëve të treta për arsyet e mëposhtme:
    </p>
    <ul>
        <li>Për të lehtësuar shërbimin tonë;</li>
        <li>Për të ofruar shërbimin në emrin tonë;</li>
        <li>Për të kryer shërbime të lidhura me shërbimin; ose</li>
        <li>Për të na ndihmuar në analizimin e përdorimit të shërbimit.</li>
    </ul>
    <p>
        Dëshirojmë t’i informojmë përdoruesit e këtij shërbimi se këto palë të treta kanë qasje në informacionin e tyre personal për të kryer detyrat e caktuara për ne. Megjithatë, ata janë të detyruar të mos e zbulojnë apo përdorin këtë informacion për ndonjë qëllim tjetër.
    </p>

    <p><strong>Siguria</strong></p>
    <p>
        Ne e vlerësojmë besimin tuaj që na jepni informacionin personal, kështu që përpiqemi të përdorim mjete të pranueshme tregtare për ta mbrojtur atë. Por kujtoni se asnjë metodë transmetimi përmes internetit apo metodë ruajtjeje elektronike nuk është 100% e sigurt dhe e besueshme, dhe ne nuk mund të garantojmë siguri absolute.
    </p>

    <p><strong>Lidhjet me faqe të tjera</strong></p>
    <p>
        Ky shërbim mund të përmbajë lidhje me faqe të tjera. Nëse klikoni mbi një lidhje të palës së tretë, do të drejtoheni në atë faqe. Ju këshillojmë fuqimisht të rishikoni Politikën e Privatësisë të atyre faqeve. Ne nuk kemi kontroll dhe nuk marrim përgjegjësi për përmbajtjen, politikat e privatësisë apo praktikat e ndonjë faqeje apo shërbimi të palës së tretë.
    </p>

    <p><strong>Privatësia e Fëmijëve</strong></p>
    <div>
        <p>
            Këto shërbime nuk u drejtohen personave nën moshën 13 vjeç. Ne nuk mbledhim me vetëdije informacion të identifikueshëm personalisht nga fëmijët nën 13 vjeç. Nëse zbulojmë se një fëmijë nën 13 vjeç ka dhënë informacione personale, do ta fshijmë menjëherë nga serverët tanë. Nëse jeni prind ose kujdestar dhe jeni në dijeni që fëmija juaj na ka dhënë informacione personale, ju lutem na kontaktoni që të mund të ndërmarrim veprimet e nevojshme.
        </p>
    </div>

    <p><strong>Ndryshime në këtë Politikë Privatësie</strong></p>
    <p>
        Ne mund të përditësojmë Politikën tonë të Privatësisë herë pas here. Këshillohet që ta rishikoni këtë faqe periodikisht për ndonjë ndryshim. Do t’ju njoftojmë për çdo ndryshim duke publikuar versionin e ri të Politikës së Privatësisë në këtë faqe.
    </p>
    <p>Kjo politikë është në fuqi nga data: 2025-01-01</p>

    <p><strong>Na kontaktoni</strong></p>
    <p>
        Nëse keni ndonjë pyetje ose sugjerim rreth kësaj Politike Privatësie, mos hezitoni të na kontaktoni në: <a href="mailto:info@kru-prishtina.com">info@bifurkacioni.com</a>.
    </p>
</body>
</html>
