@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width'>
    <title>Politika Privatnosti</title>
    <style>
        body {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            padding: 1em;
        }
    </style>
</head>
<body>
    <strong>Politika privatnosti</strong>
    <p>
        KRU Bifurkacioni SH.A. je razvio aplikaciju mCommerce kao besplatnu aplikaciju. OVA USLUGA je obezbeđena od strane KRU Bifurkacioni SH.A. bez naknade i namenjena je za korišćenje u postojećem obliku.
    </p>
    <p>
        Ova stranica se koristi da obavesti posetioce o našim politikama vezanim za prikupljanje, korišćenje i otkrivanje ličnih informacija ako neko odluči da koristi našu Uslugu.
    </p>
    <p>
        Ako odlučite da koristite našu Uslugu, pristajete na prikupljanje i korišćenje informacija u skladu sa ovom politikom. Lične informacije koje prikupljamo koriste se za obezbeđivanje i poboljšanje Usluge. Nećemo koristiti niti deliti vaše informacije ni sa kim osim kako je opisano u ovoj Politici privatnosti.
    </p>
    <p>
        Pojmovi korišćeni u ovoj Politici privatnosti imaju isto značenje kao u našim Uslovima korišćenja, koji su dostupni u mCommerce, osim ako nije drugačije definisano u ovoj Politici privatnosti.
    </p>

    <p><strong>Prikupljanje i korišćenje informacija</strong></p>
    <p>
        Radi boljeg korisničkog iskustva tokom korišćenja naše Usluge, može se desiti da ćemo vas zamoliti da nam dostavite određene lične informacije. Informacije koje tražimo biće zadržane od strane nas i korišćene u skladu sa ovom politikom privatnosti.
    </p>
    <div>
        <p>
            Aplikacija koristi usluge trećih strana koje mogu prikupljati informacije koje vas identifikuju.
        </p>
        <p>
            Link ka politikama privatnosti trećih strana koje koristi aplikacija:
        </p>
        <ul>
            <li><a href="https://www.google.com/policies/privacy/" target="_blank" rel="noopener noreferrer">Google Play Services</a></li>
        </ul>
    </div>

    <p><strong>Podaci iz logova</strong></p>
    <p>
        Želimo da vas obavestimo da svaki put kada koristite našu Uslugu, u slučaju greške u aplikaciji, mi prikupljamo podatke i informacije (putem proizvoda trećih strana) na vašem telefonu, koji se nazivaju Podaci iz logova. Ovi podaci mogu uključivati informacije kao što su vaša IP adresa, ime uređaja, verzija operativnog sistema, konfiguracija aplikacije prilikom korišćenja Usluge, vreme i datum korišćenja, i druge statistike.
    </p>

    <p><strong>Kolačići</strong></p>
    <p>
        Kolačići su fajlovi sa malom količinom podataka koji se često koriste kao anonimni jedinstveni identifikatori. Oni se šalju vašem pregledaču sa sajtova koje posećujete i čuvaju se u internoj memoriji vašeg uređaja.
    </p>
    <p>
        Ova Usluga ne koristi ove „kolačiće“ eksplicitno. Međutim, aplikacija može koristiti kod i biblioteke trećih strana koje koriste „kolačiće“ za prikupljanje informacija i poboljšanje svojih usluga. Imate opciju da prihvatite ili odbijete te kolačiće i da znate kada se kolačić šalje vašem uređaju. Ako odlučite da odbijete naše kolačiće, možda nećete moći da koristite neke delove ove Usluge.
    </p>

    <p><strong>Provajderi usluga</strong></p>
    <p>
        Možemo angažovati treća lica i pojedince iz sledećih razloga:
    </p>
    <ul>
        <li>Da olakšaju našu Uslugu;</li>
        <li>Da pruže Uslugu u naše ime;</li>
        <li>Da obavljaju usluge povezane sa Uslugom; ili</li>
        <li>Da nam pomognu u analizi kako se naša Usluga koristi.</li>
    </ul>
    <p>
        Želimo da informišemo korisnike ove Usluge da ova treća lica imaju pristup njihovim ličnim informacijama. Razlog je da obavljaju zadatke dodeljene njima u naše ime. Međutim, obavezni su da te informacije ne otkrivaju niti koriste u bilo koju drugu svrhu.
    </p>

    <p><strong>Bezbednost</strong></p>
    <p>
        Cenimo vaše poverenje u pružanju vaših ličnih informacija i trudimo se da koristimo komercijalno prihvatljive načine zaštite istih. Ipak, zapamtite da nijedna metoda prenosa putem interneta, niti metoda elektronskog skladištenja nije 100% sigurna i pouzdana, i ne možemo garantovati apsolutnu bezbednost.
    </p>

    <p><strong>Linkovi ka drugim sajtovima</strong></p>
    <p>
        Ova Usluga može sadržati linkove ka drugim sajtovima. Ako kliknete na link treće strane, bićete preusmereni na taj sajt. Imajte na umu da ti eksterni sajtovi nisu pod našom kontrolom. Stoga, savetujemo vam da pregledate Politiku privatnosti tih sajtova. Nemamo kontrolu nad sadržajem, politikama privatnosti, niti praksama bilo kojih sajtova ili usluga trećih strana.
    </p>

    <p><strong>Privatnost dece</strong></p>
    <div>
        <p>
            Ova Usluga nije namenjena osobama mlađim od 13 godina. Ne prikupljamo svesno lične informacije od dece mlađe od 13 godina. U slučaju da saznamo da je dete mlađe od 13 godina dostavilo lične informacije, odmah ćemo ih obrisati sa naših servera. Ako ste roditelj ili staratelj i svesni ste da nam je vaše dete dostavilo lične informacije, molimo vas da nas kontaktirate kako bismo mogli da preduzmemo odgovarajuće mere.
        </p>
    </div>

    <p><strong>Izmene politike privatnosti</strong></p>
    <p>
        Možemo povremeno ažurirati našu Politiku privatnosti. Savetujemo vam da povremeno pregledate ovu stranicu radi eventualnih promena. Obavestićemo vas o bilo kakvim promenama postavljanjem nove Politike privatnosti na ovoj stranici.
    </p>
    <p>Ova politika je na snazi od: 2025-01-01</p>

    <p><strong>Kontaktirajte nas</strong></p>
    <p>
        Ako imate bilo kakvih pitanja ili sugestija u vezi sa našom Politikom privatnosti, slobodno nas kontaktirajte na: <a href="mailto:info@kru-prishtina.com">info@bifurkacioni.com</a>.
    </p>
</body>
</html>
